{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{shell, [{apps, [jose]}]}.
{deps,
 [{et, {git, "https://github.com/galdor/erl-et.git", {branch, "master"}}},
  {json, {git, "https://github.com/galdor/erl-json.git", {branch, "master"}}},
  {uri, {git, "https://github.com/galdor/erl-uri.git", {branch, "master"}}},
  {b64, {git, "https://github.com/exograd/erl-b64.git", {branch, "master"}}}]}.
