[{jose,
  [{trusted_remotes =>
      #{cacertfile =>
          "/home/gearnode/Downloads/cacert-2021-01-19.pem",
        certificates =>
           %% Github
          [<<"B6B9A6AF3E866CBE0E6A307E7DDA173B372B2D3AC3F06AF15F97718773848008">>,
           %% Amazon
           <<"C6D09953F1A93985D71ED6665578932510786D435B3E4AC6052E389A76A8C237">>],
        public_keys =>
           %% Google
          [<<"0ADC5F4C86738D148E59F9FDBD3C71E201FC78DF864740CFD0EF7131F061258E">>]}}
   {certificate_store,
    #{files => ["priv/pki/acme.crt",
                "priv/pki/example.crt"]}}]}].
